[common]
version = "{{getv "/gomqtt/gateway/version"}}"
is_debug = {{getv "/gomqtt/gateway/isdebug"}}
log_level = "{{getv "/gomqtt/gateway/loglevel"}}"
log_path = "{{getv "/gomqtt/gateway/logpath"}}"


[provider]
invoked = [
        {{range getvs "/gomqtt/gateway/invoked/*"}}
        "{{.}}",
        {{end}}
]

#  tcp provider
tcp_addr = "{{getv "/gomqtt/gateway/tcpaddr"}}"
#tls related
enable_tls = {{getv "/gomqtt/gateway/enabletls"}}
tls_cert = "{{getv "/gomqtt/gateway/tlscert"}}"
tls_key = "{{getv "/gomqtt/gateway/tlskey"}}"

[etcd]
addrs = [
 	{{range getvs "/gomqtt/gateway/etcdaddrs/*"}}
        "{{.}}",
        {{end}}
]
streams = "{{getv "/gomqtt/gateway/etcd/streams"}}"
rooms = "{{getv "/gomqtt/gateway/etcd/rooms"}}"

[mqtt]
qos_max = {{getv  "/gomqtt/gateway/qosmax"}}
max_keepalive = {{getv  "/gomqtt/gateway/maxkeepalive"}}

[dispatch]
addr = "{{getv  "/gomqtt/gateway/dispatch/addr"}}"