[common]
version = "{{getv "/gomqtt/gateway/version"}}"
is_debug = {{getv "/gomqtt/gateway/isdebug"}}
log_level = "{{getv "/gomqtt/gateway/loglevel"}}"
log_path = "{{getv "/gomqtt/gateway/logpath"}}"
